@model IEnumerable<RazorMvc.Models.Intern>

@{ ViewData["Title"] = "Loading interns from the database"; }

@section styles {
    <!-- Read about this here https://fontawesome.com/icons?d=gallery&p=2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Internship Landpage</title>
</head>
<body>
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>We respect privacy, GDPR and other stuff very much. Don't worry, be happy!</p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfJoin)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfJoin)
                        </td>
                    </tr>
}
            </tbody>
        </table>

    </div>

</body>
</html>
